<p>{{ title }}</p>
<p>{{ message }}</p>
<button type="button" mat-raised-button color="primary" (click)="dialogRef.close(true)">OK</button>
<button type="button" mat-button  color="warn" (click)="dialogRef.close()">Cancel</button>