<form [formGroup]="aveForm" (ngSubmit)="onSubmit(aveForm)">
  <mat-grid-list cols="2" rowHeight="5rem">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Código" formControlName="cdAve" disabled>
        <mat-hint>Deshabilitado</mat-hint>
        <mat-error *ngIf="aveForm.get('cdAve').hasError('required')">
          El código es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre común" formControlName="nombreComun" [(ngModel)]="ave.dsnombreComun">
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="aveForm.get('nombreComun').hasError('required')">
          El nombre común es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre Científico" formControlName="nombreCientifico" [(ngModel)]="ave.dsnombreCientifico">
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="aveForm.get('nombreCientifico').hasError('required')">
          El nombre cientifico es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Zona" [(ngModel)]="zona" formControlName="zona" (change)="onChangeZona()">
          <mat-option *ngFor="let zona of zonas" [value]="zona.cdzona">
            {{ zona.dsnombre }}
          </mat-option>
        </mat-select>
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="aveForm.get('zona').hasError('required')">
          La zona es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-select placeholder="País" formControlName="pais">
          <mat-option *ngFor="let pais of paisesForSelect" [value]="pais.cdpais">
            {{ pais.dsnombre }}
          </mat-option>
        </mat-select>
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="aveForm.get('zona').hasError('required')">
          El país es requerido
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2">
      <button mat-raised-button type="submit" color="primary" [disabled]="aveForm.invalid">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
