<mat-toolbar color="primary">
  <span>
    <button mat-icon-button [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
  </span>

  <button mat-raised-button color="primary" [routerLink]="['/aves/listado']">
    <mat-icon>list</mat-icon> Listado de aves
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/home']">
    <mat-icon>create</mat-icon> Crear ave
  </button>

  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>Configuración</button>
</mat-menu>
