<div class="example-header">
    <mat-form-field>
        <input matInput #filter placeholder="Filtrar aves">
    </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="cdave">
        <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
        <mat-cell *matCellDef="let ave"> {{ ave.cdave }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dsnombreComun">
        <mat-header-cell *matHeaderCellDef> Nombre Común </mat-header-cell>
        <mat-cell *matCellDef="let ave"> {{ ave.dsnombreComun }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dsnombreCientifico">
        <mat-header-cell *matHeaderCellDef> Nombre Científico </mat-header-cell>
        <mat-cell *matCellDef="let ave"> {{ ave.dsnombreCientifico }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let ave">
            <a [routerLink]="['/aves/editar', ave.cdave]"> <mat-icon>mode_edit</mat-icon> </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let ave" (click)="openDialog(ave.cdave)"> <mat-icon>delete</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ave; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
    [pageSize]="1"
    [pageSizeOptions]="[1, 5, 10, 20]">
</mat-paginator>